.add-input, .add-option{
  font-family: Montserrat, sans-serif;
}

.add-label { 
  display: block;
}


#add-header_h{
  display: flex;
  height: fit-content;
  align-items: center;
}

#add-description{
  display: flex;
  justify-content: center;
  margin-left: 320px;
  text-align: center;
}

#add-back{
  color: black;
  margin-left: 260px;
}

#add-blank_text, .add-select{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
}

.add-toggle-group {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-toggle-group-lodging {
    display: flex;
    margin-top: 20px;
}

#add-toggle-group-one {
    display: flex;
    height: 53px;
    margin-top: 10px;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}

#add-yes_section{
  display: flex;
}

.add-toggle-group-deductions{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-h5{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#add-name{
  width: 520px;
}

#add-sss_input{
  height: 30px;
}

#add-philhealth_input{
  height: 30px;
}

#add-pagibig_input{
  height: 30px;
}

#add-tax_input{
  height: 30px;
}

#add-others_input{
  height: 30px;
}

#add-toggle-group-one-deductions{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-two{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-three{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-four{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

#add-toggle-group-one-deductions-five{
    display: flex; 
    flex-direction: row; 
    margin-top: 10px; 
    align-items: center;
    height: 43px;
    margin-left: 20px;
    gap: 50px;
}

.add-input[type="text"] {
    width: 500px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

#add-for_num {
    width: 500px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
    color: #495057;
    margin-bottom: 6px;
}

.add-input[type="checkbox"] {
  transform: scale(1.5);
}

.add-input[type="radio"] {
  transform: scale(1.5);
  vertical-align: middle;
}

#add-addressField{
  display: flex; 
  align-items: center;
  justify-content: center;
}

#add-address{
  display: flex;
  align-items: center;
  height: 25px;
  margin-top: 2px;
}

#add-submit_div{
  display: flex;
  width: 100%;
  justify-content: center;
}

.add-submit-btn {
    color: white;
    padding: 10px;
    width: 520px;
    border-radius: 4px;
    border: 2px solid #0641fb;
    background-color: white;
    color: #0641fb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-submit-btn:hover {
  background-color: #0641fb;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

#add-parent_div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-info{
  display: flex;
  flex-direction: column;
}

#add-text_info{
  width: 500px;
  margin-top: 10px;
}
